<!--aqui creamos la plantilla de nuestra aplicacion -->
<div class="m-grid m-grid--hor m-grid--root m-page">

    <!-- BEGIN: Header   Cabezera de pagina-->
    <app-header></app-header>
    <!-- END: Header -->

    <app-quick-sidebar></app-quick-sidebar>

    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <!-- BEGIN: Left Aside  Menu Lateral -->
        <app-sidebar></app-sidebar>
        <!-- END: Left Aside -->


        <div class="m-grid__item m-grid__item--fluid m-wrapper">

            <app-breadcrumbs></app-breadcrumbs>

            <div class="m-content">
                <!--begin::Portlet  desarrollo de la pagina -->
                <div class="m-portlet">
                    <div class="m-portlet">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        SweetAlert Examples
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                        </div>
                    </div>
                </div>
                <!--end::Portlet-->
            </div>

        </div>

    </div>

</div>

<!-- begin::Footer   fin de pagina o Pie de pagina  -->
<app-footer></app-footer>
<!-- end::Footer -->


<!-- begin::Scroll Top  hacer scroll en la pagina -->
<app-scroll-top></app-scroll-top>
<!-- end::Scroll Top -->